extends base.pug 

block scripts 
    script(src="../static/vision.js") 

block style 
    style 
        include ../static/vision.css 

block content     
    h2#visionHeading 
        |Welocome TO GoldOldenDays 
    section#visionDetails 
        div.explaining        
            div.messageImage1
                img(src="../static/gamesImg/network-icon.png", alt="Just an Interaction")
            div.message 
                p Hello Guys . This is Rishabh Singh a Tech Enthusiast .. 
                | Well If I would have to tell you about MyVision then in a layman language 
                | I can say that I am just trying to Improve the Way of Learning To Code 
                | By creating a DiscussionForum for the beginners,intermidiates,experts and also for the extraordinary peoples where   they can Discuss Algorithms, some Crazy Ideas , An extraOrdinary Projects or they can also discuss about their Queries they were facing while exploring the world of Code. 
            div.messageImage2
                img(src="../static/gamesImg/relaxingonsofa.png", alt="Just an Interaction")

